<%= form_with(model: entity) do |form| %>
  <% if entity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(entity.errors.count, "error") %> prohibited this entity from being saved:</h2>

      <ul>
        <% entity.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :amount %>
    <%= form.text_field :amount %>
  </div>

  <div class="field">
    <%= form.select :group_id, Group.all.collect { |x| [x.name, x.id]},{ :include_blank => 'Select group'},class:"form-control-sm form-control btn-outline-primary"%>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
