
<div class="shadow d-flex justify-content-center p-2 mb-3 bg-white rounded">
  <p class="text-muted">Credit: <%=counter(@group_entities)%><p>
</div>

<% @group_entities.each do |item| %>
  <div class="d-flex bg-white rounded m-lr flex-row justify-content-around shadow p-2 mb-1">
    <div>
      <%=image_tag Group.find(params[:id]).icon, class: 'rounded-circle', size: "130" %>
    </div>
    <div class="">
      <p class="text-muted">
      Author: <%=item.user.username%> | 
      <%= item.name %>
      </p>
      <p class="text-muted"><%= item.created_at %></p>
      <%if current_user == item.user%>
        <%= link_to 'Edit', edit_entity_path(item),class:'btn btn-sm btn-outline-primary'%>
        <%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' },class:'btn btn-sm btn-outline-danger' %>
      <%end%>
    </div>
    <div>
        <p class="text-dark">Amount: <%= item.amount %></p>
    </div>
  </div>
<%end%>
<div class="card spec-1">
<%= link_to 'Add a new transaction', new_entity_path, class:'btn btn-lg btn-primary mt-2' %>
<%= link_to 'Back', groups_path, class:'btn btn-primary btn-lg mt-2' %>
</div>